<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <nav id="Navbar">
        <h1 id="greet">My Blog</h1>
        <button id="loginMainPage" onclick="window.location.href='/login'">Login</button><br />
        <button id="Contact">Contact</button></br>
    </nav>
    <header id="mainHeader">
    </header>
    <div id="box">
        <h1 id="Box">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.with the release of Letraset sheets containing Lorem Ipsum passages</h1>
    </div>
    <div id="top">
        <button type="submit" id="signUp" onclick="window.location.href='/Registeration'">Sign Up</button><br />
        </div>
    <main>
        <h1>4</h1>
        <h1>3</h1>
        <h1>2</h1>
        <h1>1</h1>
    </main>
    <footer>
        <p>&copy contents comming soon</p>
    </footer>
</body>
</html>