<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUT</title>
</head>
<body>
    <header>
        <nav>
            <ul style="display: flex; padding: 30px; list-style-type: none;">
                <li style="padding-left: 20px;"><a href="/GETPublish">Publish</a></li>
                <li style="padding-left: 20px;"><a href="/feeds">Feeds</a></li>
                <li style="padding-left: 20px;"><a href="/update">Update Account</a></li>
                <li style="padding-left: 20px;"><a href="/remove">Remove Account</a></li>
                <li style="padding-left: 20px;"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p style="padding-left: 100px;">Contents coming soon</p>
    </main>
</body>
</html>